#input-contador {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

  #input-contador::-webkit-inner-spin-button, 
  #input-contador::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }


